<header>
  <h1><a href="/">{{ site.name }}</a></h1> 
  <div class="social">
    <a href="//twitter.com/count0" title="twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="//shake4me.tumblr.com/" title="tumblr" target="_blank"><i class="fa fa-tumblr-square fa-2x"></i></a>
    <a href="//github.com/pipboy3000" title="github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
    <a href="/atom.xml" title="feed"><i class="fa fa-rss-square fa-2x"></i></a>
  </div>
</header>
