---
layout: default
---
<div class="container">
  <div class="page-title">
    <p>
      アサイマサミの個人サイトです。このサイトについては<a href='/about.html'>About</a>へ。すべてのテキストは<a href='/archives/'>Archives</a>で閲覧できます。
    </p>
  </div>

  <div class="page-title">
    <h2 class="title">最近のテキスト</h2>
  </div>

  <div class="article-list">
    {% for post in site.posts limit:5 %}
    <div class="article">
      <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="meta">
        <span class="item date">{{ post.date | date_to_long_string }}</span>
        {% for category in post.categories %}
        <a href="/categories/{{category}}" class="item category">{{ category }}</a>
        {% endfor %}
      </div> 
    </div>
    {% endfor %}
    <hr>
    <div class="article">
      <h2 class="title"><a href="/archives/">過去のテキスト</a></h2>
    </div>
  </div>
</div>