.button {
  border-radius: 3px;
  padding: 6px 15px;
  margin: 0 auto;
  display: inline-block;

  &:link,
  &:visited {
    color: white;
    background: $main-color;
  }

  &:hover,
  &:active {
    color: white;
    background: $sub-color;
  }
}
