.layout-document {
  padding-top: 100px;

  > .header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
  }

  > .contents {
    background-color: white;
    margin: auto;
    width: 98%;
  }

  > .footer {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: auto;
    position: static;
    left: 0;
    bottom: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 0;
  }
}

.layout-document >.header {
  .logo {
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 1px solid rgba(white, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.layout-document .contents {
  > .container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;

    > .article {
      margin-bottom: 40px;
    }
  }
}
