.logo {
  padding: 0;

  > .action {
    display: block;
    color: black;
    text-align: center;
  }

  .image {
    display: inline-block;
    width: 30px;
    height: 35px;
    margin: auto;
    background: url(../images/logo.svg) center no-repeat; 
    background-size: 100%;
  }

  .title {
    font-family: $font-logo;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    line-height: 1.2;
    display: inline-block;
    position: relative;
    top: -8px;
  }
}

.logo.-dark {
  > .action {
    color: white;
  }

  .image {
    background-image: url(../images/logo-dark.svg); 
  }
}
