.related-posts {
  > .header {
    border-top: 1px solid rgba(black, 0.3);
    font-size: 18px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  > .list {
    padding-left: 1rem;
  }

  > .list > .item {
    display: block;
    margin-bottom: 1rem;
  }
}
