.site-info {
  font-size: 12px;
  line-height: 1.8;
  margin: auto 6px;

  @include mobile {
    text-align: center;
  }

  &.-dark {
    color: rgba(white, 0.8);
  }
}


.site-info a {
  .fa {
    color: white;
  }
}
