@charset 'utf-8';

@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content
  }
}

@mixin clearfix {
  overflow: hidden;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}
