$mobile_width: 768px;

// color
$main-color: #3892e3;
$sub-color: darken($main-color, 20%);

// fonts
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
$font-julius-sans: 'Julius Sans One', sans-serif;
$font-default: '游明朝', 'Yu Mincho', 'Hiragino Mincho ProN', 'メイリオ', serif;
$font-code: 'Courier New', monospace;
