$mobile_width: 768px;

// color
$main-color: #3892e3;
$sub-color: darken($main-color, 20%);

// fonts
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
$font-julius-sans: 'Julius Sans One', sans-serif;
$sans-serif: serif;
$monospace: 'Courier New', monospace;
