$mobile_width: 768px;

// color
$main-color: #3892e3;
$sub-color: darken($main-color, 20%);

// fonts
// @import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap');
// $font-logo: 'Baloo Tamma 2', cursive;

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
$font-logo: 'Baloo Chettan 2', cursive;
