<!DOCTYPE html>
<html class="no-js" lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    {% include meta.html %}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed">
    <script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body>

  <div id="page">
    <header>
    <h1><a href="/">{{ site.name }}</a></h1> 
    <div class="social">
      <a href="//twitter.com/count0" title="twitter" target="_blank">&#xF611;</a>
      <a href="//shake4me.tumblr.com/" title="tumblr" target="_blank">&#xF620;</a>
      <a href="//github.com/pipboy3000" title="github" target="_blank">&#xF670;</a>
      <a href="mailto:{{ site.author.email }}">&#x2709;</a>
      <a href="/atom.xml" title="feed">&#xE310;</a>
    </div>
    </header>
    <div class="content">{{ content }}</div>
    <footer>
    <p>&copy; 2013 {{ site.author.name }}</p>
    </footer>
  </div>
  <script>
  var _gaq=[['_setAccount','{{ site.analytics_id }}'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
   g.src='//www.google-analytics.com/ga.js';
   s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  </body>
</html>
