<!DOCTYPE html>
<!--
__________  __  ___   ____________   ____  ____  ______
/ ____/ __ \/ / / / | / /_  __/ __ \ / __ \/ __ \/ ____/
/ /   / / / / / / /  |/ / / / / / / // / / / /_/ / / __  
/ /___/ /_/ / /_/ / /|  / / / / /_/ // /_/ / _, _/ /_/ /  
\____/\____/\____/_/ |_/ /_/  \____(_)____/_/ |_|\____/   
-->
<html class="no-js" lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    {% include meta.html %}
  </head>
  <body>
    <div id="page">
      {% include header.html %}
      <div class="content">{{ content }}</div>
      {% include footer.html %}
    </div>
    {% include analytics.html %}
  </body>
</html>
