---
layout: default
---
<div class="container">
  <div class="page-title">
    <h2 class="title">{{ page.category }}</h2>
    <div class="subtitle">カテゴリーの記事一覧</div>
  </div>

  <div class="article-list">
    {% for post in page.posts %}
    <div class="article">
      <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
      <div class="meta">
        <span class="item date">{{ post.date | date_to_long_string }}</span>
      </div>
      <div class="excerpt">
        {{ post.content | strip_html | strip_newlines | xml_escape |truncate: 110 }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
