<!DOCTYPE html>
<!--
   __________  __  ___   ____________   ____  ____  ______
  / ____/ __ \/ / / / | / /_  __/ __ \ / __ \/ __ \/ ____/
 / /   / / / / / / /  |/ / / / / / / // / / / /_/ / / __  
/ /___/ /_/ / /_/ / /|  / / / / /_/ // /_/ / _, _/ /_/ /  
\____/\____/\____/_/ |_/ /_/  \____(_)____/_/ |_|\____/   
-->
<html class="no-js" lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  {% include meta.html %}
</head>
<body>
  <div class="layout-document">
    <div class="header">
      <h1 class="logo -dark">
        <a href="/" class="action">
          <div class="image"></div>
          <div class="title">{{ site.name }}</div>
        </a>
      </h1>
      <div class="menu-list -dark">
        <a class="item" href="/about.html">About</a>
        <a class="item" href="/archives/">Archives</a>
      </div>
    </div>
    
    <div class="contents">
      {{ content }}
    </div>

    <div class="footer">
      <div class="site-info -dark">
       <div class="feed">Subscribe to <a href="/atom.xml"><i class="fa fa-rss-square fa-lg"></i> Atom feed</a></div>
       <div class="creator">Created by <a href="/about.html">Asai Masami</a></div>
       <div class="license">Document licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/"><i class="fa fa-creative-commons fa-lg"></i> BY-NC 4.0</a></div> 
      </div>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-357228-7', 'count0.org');
    ga('send', 'pageview');
  </script>
  <script src="/assets/bundle.js"></script>
</body>
</html>
