@charset 'UTF-8';
/*
 * article
 */
article {
  header  {
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  h1 {
    @include adjust-font-size-to(30px);
  }

  a {
    @include hover-link;
    @include link-colors($main-color, $sub-color, $sub-color, $main-color);
  }
  
  ul, ol {
    list-style: disc; 
    margin-left: 20px;
    margin-bottom: 1.75em;
  }

  ol {
    margin-left: 25px;
    list-style: decimal;
  }

  li {
    margin-bottom: 0.5em;
  }

  .post-title {
    @include adjust-font-size-to(20px);
    margin-top: 0.25em;
  }

  .date {
    display: inline-block;;
    @include adjust-font-size-to(14px);
  }

  .post-meta {
    position: relative;
    top: -2px;
    display: inline-block;
    @include adjust-font-size-to(12px);
    line-height: 1.8;
    span {
      padding: 0 8px;
      text-align: center;
      display: inline-block;
      background: $main-color;
      color: $white;
    }

    a {
      @include unstyled-link;
      span {
        @include transition-property(background-color);
        @include transition-duration(0.3s);
      }
      &:link, &:visited {
        span {
          background: $main-color;
        }
      }
      &:hover, &:active {
        span {
          background: $sub-color;
        }
      }
    }
  }

  .post-image {
    margin-bottom: 1em;
    img {
      display: block;
      width: 100%;
    }
  }

  .post-body {
    p, ul, dl {
      @include adjust-font-size-to(16px, 1);
      margin-bottom: 1.8em;
    }

    h2, h3, h4, h5, h6 {
      @include adjust-font-size-to(18px);
      font-weight: bold;
      margin: 1.5em 0;
    }

    img {
      display: block;
      width: 100%;
    }

    blockquote {
      position: relative;
      overflow: hidden;
      padding: 0 0 0 4em;
      &:before {
        position: absolute;
        color: #000;
        display: block;
        z-index: 100;
        font-size: 80px;
        font-family: georgia, serif;
        top: 20px;
        left: 20px;
        content: '\201C';
      }
    }
    
    p, li {
      code {
        @include adjust-font-size-to(13px);
        vertical-align: top;
        padding: 2px 3px 1px 3px;
        background: #fafafa;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    }

    a[href*="amazon"] + img {
      width: auto;
      display: inline;
    }
  }
}

