.article-topstory {
  background: #fefefe;
  border-bottom: 1px solid #efefef;
  padding-bottom: 1rem;
}

.article-header {
  @include mobile {
    width: $mobile_contents_width;
  }
  text-align: center;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.article-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0 0.5rem;
}

.article-subtitle,
.article-date {
  display: inline-block;
  color: lighten($black, 35%);
}

.article-category {
  display: inline-block;
  color: $white;
  line-height: 1;
  text-align: center;
  padding: 4px 7px;
  font-size: 0.75rem;
  position: relative;
  top: -2px;
  border-radius: 2px;

  &:link, &:visited {
    color: $white;
    background: $main-color;
  }

  &:hover, &:active {
    color: $white;
    background: $sub-color;
  }
}

.article-body {
  @include container;
  @include mobile {
    width: $mobile_container_width;
  }

  h1, h2, h3, h4, h5, h6 {
    width: $contents_width;
    @include mobile {
      width: $mobile_contents_width;
    }

    margin: 2.5rem auto 0.25rem;
    font-weight: 600;
  }

  h2, h3, h4, h5, h6 {
    font-size: 1.3rem;
  }

  p, ul, ol {
    width: $contents_width;
    @include mobile {
      width: $mobile_contents_width;
    }

    box-sizing: border-box;
    margin: 0 auto 1.5rem;

    &.wide {
      width: 100%;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  pre {
    font-family: $monospace;
    margin-bottom: 1.5rem;
    padding: 2px;
    border: 2px solid #f3f3f3;
    overflow: scroll;
    font-size: 0.875rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    margin-bottom: 1.5rem;
  }
  
  table {
    width: $contents_width;
    @include mobile {
      width: $mobile_contents_width;
    }
    margin: 0 auto 1.5rem;
  }

  td, th {
    padding: 0.5rem;
  }

  th {
    border-bottom: 1px solid lighten($black, 35%);
  }
}
