@charset 'UTF-8';
/*
 * category page
 */

.category-title {
  position: relative;
  font-size: 20px;
  // @include adjust-font-size-to(20px);
  color: $white;
  background: $main-color;
  height: 40px;
  line-height: 40px;
  margin: 0 0 1em 0;
  transition: {
    property: width;
    duration: 0.3s;
  }
  overflow: hidden;

  span {
    position: absolute;
    padding: 0 10px;
    display: block;
    width: 100%;
  }
}
