@charset "utf-8";

body {
  font-family: $sans-serif;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  transition: {
    property: "color";
    duration: 0.3s;
  }

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover, &:active {
    text-decoration: underline;
  }
}

code {
  font-family: $monospace;
}


