@mixin logo-base {
  margin: 0 auto;
  color: $white;
  background: transparent;
  border: 2px solid $white;
  font-family: $sans-serif;
  text-align: center;
  font-weight: 600;

  a {
    color: $white;
    text-decoration: none;
  }
}

.logo {
  @include logo-base;
  width: 157px;
  height: 42px;
  font-size: 1rem;
  line-height: 42px;
}

.logo-small {
  @include logo-base;
  width: 118px;
  height: 31px;
  font-size: 0.75rem;
  line-height: 31px;
}

