@charset 'UTF-8';
/*
 * pagination
 */

.pagination {
  width: 60%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  position: relative;
  overflow: hidden;
  
  a {
    @include link-colors($main-color, $sub-color);
    position: absolute;

    &.prev {
      top: 0;
      left: 0;
    }

    &.next {
      top: 0;
      right: 0;
    }
  }

  span {
    &.prev {
      display: none;
    }

    &.next {
      display: none;
    }
  }
}
