.page-header {
  background: #3E89C9;
  padding: 20px;
}

.page-footer {
  background: #3E89C9;
  padding: 20px;
}

.page-title {
  text-align: center;
}

.page-license {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  color: lighten($main-color, 25%);

  a {
    color: $white;
  }
}
